.text {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.size {
    &-small {
        font-size: 12px;
    }
    &-medium {
        font-size: 14px;
    }
    &-large {
        font-size: 16px;
    }
}

.h1-size {
    &-large {
        font-size: 32px;
    }
}

.weight {
    &-bold {
        font-weight: 600;
    }
}

.color {
    &-white {
        color: #fff;
    }
    &-red {
        color: #e57373;
    }
}

.leading {
    &-tight {
        line-height: 1.25;
    }
    &-normal {
        line-height: 1.5;
    }
    &-loose {
        line-height: 1.75;
    }
}
